vitae, exercitationem distinctio voluptas blanditiis fuga aliquam eum nam
placeat. Velit quod, sed dolorem facere hic nulla repellendus. Qui harum eveniet
sunt. Illo nesciunt, voluptatum natus totam et iusto?
<form action="/logout" method="post">
  <button type="submit">Logout</button>
</form>
